:root {
  --primary-color: rgb(247, 134, 153);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background-color: black;
}

h1 {
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}
a {
  display: flex;
}

a:hover {
  color: blueviolet;
}
